body{
  background:red;
}



.hero {
    background: linear-gradient(to right, #0a4d68, #088395);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    margin: 0;
}

.hero p {
    font-size: 20px;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.dark {
    background: #f4f4f4;
}

.section h2 {
    margin-bottom: 20px;
    color: #0a4d68;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 8px;
}

.photo-section img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

footer {
    background: #0a4d68;
    color: white;
    text-align: center;
    padding: 20px;
}

.ad {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.8;
}












body{
    background: pink;
  }
    
.photo-section{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
  justify-items:center;
}

.profile-pic{
  width:200px;
  height:250px;
  object-fit:cover;
  border-radius:15px;
}

footer{
text-align:center;
margin-top:40px;
padding:10px;
background:#111;
color:white;
}


                html{
scroll-behavior: smooth;
}


   button{
background:#0077ff;
color:white;
border:none;
padding:10px 20px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0055cc;
} 

    
nav{
text-align:center;
background:#1f4e5f;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

nav{
position:sticky;
top:0;
background:red;
padding:10px;
}


   .gallery{
display:flex;
overflow-x:auto;
gap:15px;
padding:10px;
scroll-behavior:smooth;
}

.gallery img{
height:250px;
width:auto;
border-radius:10px;
flex-shrink:0;
background:#000;
}

.slider{
display:flex;
overflow-x:auto;
gap:15px;
padding:10px;
scroll-snap-type:x mandatory;
}

.slider img{
height:250px;
width:auto;
border-radius:10px;
scroll-snap-align:center;
flex-shrink:0;
background:#000;
}



    
   
    
body{
margin:0;
padding:15px;
}

section{
margin:30px 0;
padding:20px;
}


    .hero{
text-align:center;
padding:30px 10px;
    }

    .gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
    }

    
    
        
.card{
  background:#ffffff;
  color:#000;
  padding:15px;
  margin:10px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  }
    

    
    

    
